/* Step one: Establish border boxes in order to see the grid*/
* {
	border: 1px solid green !important;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
/* Step two: add a header to your page*/
h1 {
	color: green;
}
/* Step three: define your row. It should be full width. Use flexbox to clear floats*/
.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
/* Step four: define your columns by taking intergers 1-12 and dividing by 12
in order to get the percentage of how much each width should be*/
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}
/* Optional: add some negative space*/
p {
	margin: 10px;
}
/*Step Five: add your media queries for smaller screens*/
@media only screen and (max-width: 500px) {
	p {
		background-color: #ffffcc;
		color: green;
	}
}